<div id="<%= dom_id category %>">
  <p>
    <strong>Clave:</strong>
    <%= category.clave %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= category.nombre %>
  </p>

  <p>
    <strong>Activa:</strong>
    <%= category.activa %>
  </p>

</div>
