<br><br>
<div class="container">

  <div class="card">
    <div class="card-header">
      <h1>Modificar Producto</h1>
    </div>
    <div class="card-body">
      <%= render "form", product: @product %>
    </div>
  </div>
<br>

